@layout ExperimentalLayout
@page "/test"
@page "/demos/test"

<h3>Test</h3>
<p>This vote does nothing, and that's okay. You don't
    <strong>have</strong> to handle an event.</p>
<Vote></Vote>

@code {

}
