@page "/nav-menu"

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="">Learn Blazor Server</a>
        <button title="Navigation menu"
                class="navbar-toggler"
                @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass"
     @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @*
            By default, the NavLink component's property Match is set to NavLinkMatch.Prefix. This means that it will return true if the first piece of the route data matches.
            Example: href="counter" will match with localhost:8080/counter, localhost:8080/counter/20, and so on. However, it will not match with localhost:8080/test.
            
            The second option is NavLinkMatch.All, which requires that the entire route data match.
            Example: Home's href is empty, so only routes which are entirely empty will match.
                     If Counter was set to NavLinkMatch.All, ONLY localhost:8080/counter would match. Any additional route data would cause the match to fail.
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href=""
                     Match="NavLinkMatch.All">
                <span class="oi oi-home"
                      aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="counter">
                <span class="oi oi-plus"
                      aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="fetchdata">
                <span class="oi oi-list-rich"
                      aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="weather/forecast">
                <span class="oi oi-cloudy"
                      aria-hidden="true"></span> Weather Forecast
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="demos/test">
                <span class="oi oi-beaker"
                      aria-hidden="true"></span> Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="demos/demo2">
                <span class="oi oi-book"
                      aria-hidden="true"></span> Demo 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="components">
                <span class="oi oi-credit-card"
                      aria-hidden="true"></span> Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="directory">
                <span class="oi oi-people"
                      aria-hidden="true"></span> Directory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="directory/create-person">
                <span class="oi oi-person"
                      aria-hidden="true"></span> New Person
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="SampleForm">
                <span class="oi oi-copywriting"
                      aria-hidden="true"></span> Sample Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="CascadeDemo">
                <span class="oi oi-copywriting"
                      aria-hidden="true"></span> Cascade Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"
                     href="MilkshakeOrderSheet">
                <span class="oi oi-magnifying-glass"
                      aria-hidden="true"></span> Order Milkshake
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = ! collapseNavMenu;
    }

}
