@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-secondary">
            <a href="https://weather.com"
               target="_blank">Weather Info</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
