@page "/components"

<h3>Components</h3>

<div class="row">
    <div class="col-6">
        <SharedCounter StartingCount="5"
                       PageHeader="New Type of Counter"></SharedCounter>
    </div>
    <div class="col-6">
        <SharedCounter StartingCount="21"
                       PageHeader="Driving Responsibly"></SharedCounter>
    </div>
</div>
